In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
# declare some variables o drop into date time
year=2019
month=9
day=24
hour=12
minute=30
second=15

In [6]:
date=datetime(year,month,day,hour,minute,second)
display(date)
date.day

datetime.datetime(2019, 9, 24, 12, 30, 15)

24

In [7]:
date.hour

12

In [8]:
date.minute

30

In [9]:
date.second

15

In [10]:
date.month

9

In [12]:
date_list = [datetime(2019,10,10,12,0,0),datetime(2019,10,11,12,0,0)]
date_list

[datetime.datetime(2019, 10, 10, 12, 0),
 datetime.datetime(2019, 10, 11, 12, 0)]

In [13]:
datetime_index = pd.DatetimeIndex(date_list)

In [14]:
datetime_index

DatetimeIndex(['2019-10-10 12:00:00', '2019-10-11 12:00:00'], dtype='datetime64[ns]', freq=None)

In [21]:
number_matrix = np.random.randn(2,2)

In [27]:
number_matrix
cols= ['Y','X']
df =pd.DataFrame(number_matrix,date_list, cols)

In [28]:
df

                            Y         X
2019-10-10 12:00:00  0.038025  1.397037
2019-10-11 12:00:00 -0.481735  0.147294